* {
background: #FAFAFA;

}

.form-container {
  width: 50%;
  text-align: center;
}

h1 {
  width: 50%;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 29px;

  color: #444955;
}

label {
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #3D495C;
}

#name-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;

  background: #FFFFFF;
  width: 375px;
  height: 30px;
  left: 0px;
  top: 0px;
}

textarea {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;

  background: #FFFFFF;
  width: 375px;
  height: 60px;
  left: 0px;
  top: 0px;
}

.input-atributo {
  margin-top: 37px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #29313D;
  border-radius: 2px;
}

#input-image {
  margin-top: 40px;
  background: #FFFFFF;
  border: 1px solid #023031;
  border-radius: 2px;
  margin-bottom: 30px;
}

#raridade-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
  border: 1px solid #023031;
  border-radius: 2px;
  width: 375px;
  height: 30px;
  margin-bottom: 20px;
}

#button-save {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 32px;
gap: 10px;
width: 115px;
height: 40px;
margin-left: 129px;
background: #003BE5;
border-radius: 2px;
flex: none;
order: 0;
flex-grow: 0;
color: #FFFFFF;
}