.container {
  width: 100%;
}

.card-container {
  background: #023031;
  height: 700px;
  left: 690px;
  position: absolute;
  top: 0px;
  width: 763px;
}

.card-container h2 {
  background: #023031;
  color: #FFFFFF;
  font-family: 'Epilogue';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  margin-left: 86px;
}

h2 {
  margin-bottom: 100px;
}

#all-cards {
  color: #444955;
  font-family: 'Epilogue';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  margin-top: 100px;
}

#filter {
  color: #444955;
  font-family: 'Epilogue';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.filter-card {
  align-items: flex-start;
  background: #FFFFFF;
  border: 1px solid #3D495C;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 35px;
  margin-bottom: 20px;
  padding: 4px 8px;
  width: 305px;
}

.deck-cartas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 400px;
}

.deck-cartas div {
  width: 320px;
}
